div.h2{
    background-image: url("nautre.jpg") ;
    width: 100%;
    overflow: auto;
    padding-bottom:20px;
    position: sticky; 
}
h1{
    color: rgba(255, 255, 255, 0.884);

}
p.x{
    color:rgb(0, 0, 0);
    font-size: 115%;
    margin-left:1%; 
}
div.x4{
    background-color:rgb(250, 248, 117);
    width: 1253px;    
    float: left;
    height: 650px;
    overflow: auto;
    position: sticky;
}
div.v2{
    width: 100%;
    text-align: center;
    background-image: url("leave2.jpg");
    color:white;
    overflow: auto;
    padding-bottom:40px;  
    position: sticky;
}
h2{
    margin-left: 1%;
}
p.n1{
padding-top:3%; 
font-size: 100%;
}
div.z1{
background-color: yellowgreen;
float: right;
width: 418px;
 border: 1px  black;
 border-style: none none none dotted;
 height: 650px;
 overflow: auto;
 position: sticky;
}
ul{ 
    list-style-type: square; 
}
h3{
    border: 1px solid black;
    background-color: darkgreen; 
    color: white;
    margin-left: 20%;
    margin-right: 20%;
     text-align: center; 
}
p.zz{
    color: rgb(255, 255, 255)
}